<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Datastream Test</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}test_app/style.css" media="screen" />

    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}test_app/jquery.js"></script>
    {% comment %}<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}pushserver/updates.js"></script>{% endcomment %}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}test_app/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}test_app/flot/jquery.flot.selection.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}test_app/flot/jquery.flot.navigate.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}test_app/flot/jquery.flot.crosshair.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}test_app/datastream.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}test_app/views.js"></script>
</head>
<body>
<h1>Datastream Test</h1>

<select id="selectmetric" width="200px"></select><button id="addmetric">add metric</button><button id="addplot">add plot</button><span id="step"></span><br/><br/>
<div id="placeholder" style="margin-right: auto; margin-left: auto;"></div>
</body>
</html>