<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>Datastream Test</title>
    <link rel='stylesheet' type='text/css' href='{% static "test_app/style.css" %}' media='screen'/>
    <script type='text/javascript' src='{% static "test_app/jquery/jquery.js" %}'></script>
    {% comment %}
    <script type='text/javascript' src='{% static "pushserver/updates.js" %}'></script>
    {% endcomment %}
    <script type='text/javascript' src='{% static "test_app/flot/jquery.flot.js" %}'></script>
    <script type='text/javascript' src='{% static "test_app/flot/jquery.flot.selection.js" %}'></script>
    <script type='text/javascript' src='{% static "test_app/flot/jquery.flot.navigate.js" %}'></script>
    <script type='text/javascript' src='{% static "test_app/flot/jquery.flot.crosshair.js" %}'></script>
    <script type='text/javascript' src='{% static "test_app/jquery/jquery.mousewheel.js" %}'></script>
    <script type='text/javascript' src='{% static "test_app/js/datastream.js" %}'></script>
</head>
<body>
    <div id='content'>
        <h1>Datastream Test</h1>

        <p>Datastream plot has 2 modes:</p>
        <ul>
            <li><b>Fixed metric</b> (default mode): in this mode each pixel
                represents one metric value.</li>
            <li><b>Fixed interval</b> (alternative mode): when the user selects
                an interval the best granularity is computed based on 2
                guidelines: show as much information as possible, do not
                show much more points than the pixel width.</li>
        </ul>
        <p>User actions:</p>
        <ul>
            <li>Left-click and drag: pan</li>
            <li>Right-click and drag: zoom to the selected interval (change to
                mode 2)</li>
            <li>Right-click: zoom-out (follow the zoom stack)</li>
            <li>Scroll up and down: change granularity  (change to mode 1)</li>
            <li>Scroll left and right: pan</li>
        </ul>
        <h2>Example 1: one value one pixel</h2>
        <p>Default mode displays one value per pixel. Activated by default
           or on scroll up / down.</p>
        <p><select id='selectmetric' width='200px'></select>
           <button id='addmetric'>add metric</button>
           <button id='addplot'>add plot</button>
           <span id='step'></span></p>
        <div id='placeholder'></div>
        <h2>Example 2: fixed interval</h2>
        <p>Alternative mode of the datastream plot is to display a time series
            in a fixed time interval. The mode is activated if you
            specify the <i>from</i> setting or when you zoom to an interval
            (right-click + drag).</p>
        <p><select id='selectmetric_alt' width='200px'></select>
           <button id='addmetric_alt'>add metric</button>
           <button id='addplot_alt'>add plot</button>
           <span id='step_alt'></span></p>
        <div id='placeholder_alt'></div>
        {% if debug %}
            <div id='debug'>
                <h3>DEBUG INFO</h3>
                <table id="debugTable">
                    <tr>
                        <td>Metric</td>
                        <td>Granularity</td>
                        <td>From</td>
                        <td>To</td>
                        <td>Elements</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            var to = new Date(),
                from = new Date(to.getTime() - 7 * 24 * 60 * 60 * 1000);

            if (!$('#debug').length) {
                $(document).ajaxError(function (event, jqXHR, ajaxSettings, thrownError) {
                    window.console.error(event, jqXHR, ajaxSettings, thrownError);
                    alert("Oops, something went wrong...");
                });
            }

            $('#addmetric').click(function (event) {
                var plots = $('#placeholder')
                        .children(':last')
                        .datastream({
                            'add_metric': $('#selectmetric').val()
                        });
            });

            $('#addplot').click(function (event) {
                $('#placeholder').datastream({
                    'to': to,
                    'metrics': [ $('#selectmetric').val() ]
                });
            });

            $('#addmetric_alt').click(function (event) {
                var plots = $('#placeholder_alt')
                        .children(':last')
                        .datastream({
                            'add_metric': $('#selectmetric_alt').val()
                        });
            });

            $('#addplot_alt').click(function (event) {
                $('#placeholder_alt').datastream({
                    'from': from,
                    'to': to,
                    'metrics': [ $('#selectmetric_alt').val() ]
                });
            });

            $.datastream.metricList(function (metrics) {
                $('#selectmetric option, #selectmetric_alt option').remove();

                $.each(metrics, function (i, metric) {
                    $('#selectmetric')
                        .append($('<option>', { 'value': metric.id })
                        .text($.datastream.metricName(metric)));
                });

                $.each(metrics, function (i, metric) {
                    $('#selectmetric_alt')
                            .append($('<option>', { 'value': metric.id })
                            .text($.datastream.metricName(metric)));
                });

                $('#placeholder').datastream({
                    'to': to,
                    'metrics': [ $('#selectmetric').val() ]
                });

                $('#placeholder_alt').datastream({
                    'from': from,
                    'to': to,
                    'metrics': [ $('#selectmetric_alt').val() ]
                });
            });
        });
    </script>
</body>
</html>