{% load staticfiles %}<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Datastream Test</title>
        <link rel="stylesheet" type="text/css" href="{% static "test_app/style.css" %}" media="screen"/>
        <script type="text/javascript" src="{% static "datastream/jquery/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "datastream/moment/moment.js" %}"></script>
        <script type="text/javascript" src="{% static "datastream/assert/assert.js" %}"></script>
        <script type="text/javascript" src="{% static "datastream/highstock/highstock.js" %}"></script>
        <script type="text/javascript" src="{% static "test_app/code.js" %}"></script>
    </head>
    <body>
        <div id="content">
            <h1>Datastream Test</h1>

            <h2>Available Streams</h2>
            <ul id="streams"></ul>

            <h2>Plot</h2>
            <div id="plot"></div>
        </div>
    </body>
</html>