<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <title>Datastream Test</title>
    <link rel='stylesheet' type='text/css' href='{% static "test_app/style.css" %}' media='screen'/>
    <script type='text/javascript' src='{% static "test_app/jquery/jquery.js" %}'></script>
    {% comment %}
    <script type='text/javascript' src='{% static "pushserver/updates.js" %}'></script>
    {% endcomment %}
    <script type='text/javascript' src='{% static "test_app/flot/jquery.flot.js" %}'></script>
    <script type='text/javascript' src='{% static "test_app/flot/jquery.flot.selection.js" %}'></script>
    <script type='text/javascript' src='{% static "test_app/flot/jquery.flot.navigate.js" %}'></script>
    <script type='text/javascript' src='{% static "test_app/flot/jquery.flot.crosshair.js" %}'></script>
    <script type='text/javascript' src='{% static "test_app/js/datastream.js" %}'></script>
</head>
<body>
    <div id='content'>
        <h1>Datastream Test</h1>

        <p>Left-click and drag to pan. Right-click and drag for zoom.
            Right-click
            for zoom-out.</p>

        <p>TODO: pan on right / left scroll, zoom on up / down scroll.</p>

        <p>
            <select id='selectmetric' width='200px'></select>
            <button id='addmetric'>add metric</button>
            <button id='addplot'>add plot</button>
            <span id='step'></span>
        </p>

        <div id='placeholder'></div>
        {% if debug %}
        <div id='debug'></div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $(document).ajaxError(function (event, jqXHR, ajaxSettings, thrownError) {
                window.console.error(event, jqXHR, ajaxSettings, thrownError);
                alert("Oops, something went wrong...");
            });

            $('#addmetric').click(function () {
                $('#' + $.datastream.currentId()).datastream({
                    metric_id: $('#selectmetric').val()
                });
            });

            $('#addplot').click(function () {
                $('#placeholder').datastream({
                    metric_id: $('#selectmetric').val()
                });
            });

            $.datastream.metricList(function (metrics) {
                $('#selectmetric option').remove();

                $.each(metrics, function (i, metric) {
                    $('#selectmetric')
                        .append($('<option>', { value:metric.id })
                        .text($.datastream.metricName(metric)));
                });

                $('#placeholder').datastream({
                    datastream: {
                        metrics: [ $('#selectmetric').val() ]
                    }
                });
            });
        });
    </script>
</body>
</html>